* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Futura';
}

header {
    background-color: #23201f;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    position: absolute;
    display: flex;
    /* margin: 50px; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    /* background-color: #23201f; */

}

.navbar a {
    color: white; 
}

.navbar .titre {
    font-size: 2em;
    font-style: bold;
    position: relative;
    left: 50px;
}

.navbar .titre::before {
    content: "";
    position: absolute;
    background-color: #b75023;
    width: 297px;
    height: 5px;
    bottom: 0;
}

.navbar .nav-links ul {
    font-size: 1.3em;
    display: flex;
    color: white;
}

.navbar .nav-links li {
    margin: 0 30px;
}

.navbar .nav-links li a:hover {
    color: #b75023;
    border-bottom: 2px solid #b75023;
}

.navbar .nav-links li.active a {
    color: #b75023;
    border-bottom: 2px solid #b75023;
}

.navbar .nav-links .dropdown li {
    display: block;
}

.navbar .nav-links .dropdown {
    width: 150px;
    height: 54px;
    background: #23201f;
    position: absolute;
    align-items: center;
    z-index: 999;
    display: none;
    font-size: 0.8em;
}

.navbar .nav-links .dropdown li a{
    text-align: left;
    border-bottom: none;
    color: white;
}

.navbar .nav-links .dropdown li a:hover{
    color: #b75023;
    border-bottom: 2px solid #b75023;
}

.navbar .nav-links li:hover .dropdown {
    display: block;
}

.navbar .menu-btn{
    /* \: fixed; */
    display: none;
    right: 50px;
    width: 30px;
}

@media screen and (max-width: 900px) {
    .navbar{
        padding: 0;
    }
    .navbar .menu-btn{
        display: block;
        z-index: 1;
    }
    .nav-links{
        top: 50px;
        left: 0;
        position: absolute;
        background-color: #23201f;
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100%;
        transition: all 0.5s ease;
    }

    .nav-links .mobile-menu{
        margin-top: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }
}

.mobile-menu{
    margin-top: 0;
}

.home {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

.home .homecont {
    max-width: 80%;
    text-align: center;
    color: #525252;
}

.home .homecont h2{
    color: #b75023;
    font-size: 3em;
}

.homecont .p1{
    font-size: 1.2em;
}

.homecont .p2{
    font-size: 1.2em;
    margin-left: 33%;
    text-align: left;
}

.homecont .p2 img{
    height: 40%;
    width: 30%;
    position: absolute;
    left: 50px;
    border: 5px solid #b75023;
}

.projet {
    position: relative;
    top: 300px;
    height: 200vh;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #23201f;
}

.projet .projetcont {
    max-width: 80%;
    text-align: center;
    color: white;
}

.projet .projetcont h2 {
    color: #b75023;
    font-size: 3em;
}

.projetcont p {
    font-size: 1.2em;
}

.projetcont .p3 {
    font-size: 1.5em;
}

.projetcont .projz1 {
    font-size: 1.2em;
    margin-left: 23%;
    text-align: left;
}

.projetcont .tipe {
    font-size: 1.2em;
    margin-left: 23%;
    text-align: left;
}

.projetcont .projz1 img{
    height: 300px;
    width: 300px;
    position: absolute;
    left: 50px;
    border: 5px solid #b75023;
}

.projetcont .imgeorge:hover {
    filter:blur(3px);
}